<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <div class="sort_filter_wrap">
      <div class="heading_divwr">
        <div class="screen_heading">
          <h3>Manage Sub-Sub-Category</h3>
        </div>
        <div>
          <div class="btnflex">
            <!-- [hidden]="totalActive?.length>8" -->
            <a  class="whitebtns_style" [routerLink]="'/managecategory/updatesubsubcategory'"
              [queryParams]="{catid:details?.id}"> <i aria-hidden="true" class="fa fa-plus-circle"></i> Add Sub-Sub category
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="main-wrapper">
            <div class="user_detail">
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let item of listHeaders; let i=index">
                        <abbr title="{{item}}">{{item}}</abbr>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listArr; let i=index">
                      <td width="120">
                        <figure class="tdimg">
                          <img (error)="def($event, item.id)" src="{{item.image}}">
                        </figure>
                      </td>
                      <td>
                        {{item?.title | titlecase}}
                      </td>
                      <td>
                        {{item?.totalProduct}}
                      </td>
                      <td>
                        {{(item?.created_at | date)}}
                      </td>
                      <td><a class="pointer"> <i class="fa fa-pencil" (click)="edit(item)" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <a class="pointer"> <i style="color: red;" class="fa fa-trash" (click)="delete(item.id)"
                            aria-hidden="true"></i></a>
                      </td>
                      <td>
                        <div class="field">
                          <input id="{{'switchRoundedSuccess'+i}}" type="checkbox"
                            (change)="changeStatus(i,$event.target.checked, item.id)" name="switchRoundedSuccess"
                            class="switch is-rounded is-success" [checked]="item.isActive">
                          <label for="{{'switchRoundedSuccess'+i}}"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <notfound *ngIf="listArr?.length==0"></notfound>
              <!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>