<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <form [formGroup]="myForm">
      <h3 class="title">Generate Invoice</h3>
      <div class="row input_form_wrap">
        <div class="field col-sm-6">
          <label class="label">Invoice-to</label>
          <div class="control">
            <input class="input" type="text" placeholder="invoiceTo" formControlName="invoiceTo">
            <div *ngIf="f.invoiceTo.errors && f.invoiceTo.touched" class="invalid">
              <div *ngIf="f.invoiceTo.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field col-sm-6">
          <label class="label">Ship To</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input " type="text" placeholder="Ship to" value="" formControlName="shipTo">
            <div *ngIf="f.shipTo.errors && f.shipTo.touched" class="invalid">
              <div *ngIf="f.shipTo.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Place of Supply</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" placeholder="placeOfSupply" formControlName="placeOfSupply">
            <div *ngIf="f.placeOfSupply.errors && f.placeOfSupply.touched" class="invalid">
              <div *ngIf="f.placeOfSupply.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Currency</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success"  type="text" placeholder="currency"
              formControlName="currency">
            <div *ngIf="f.currency.errors && f.currency.touched" class="invalid">
              <div *ngIf="f.currency.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field col-sm-6">
          <label class="label">Product Name</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" type="text" placeholder="productName" formControlName="productName">
            <div *ngIf="f.productName.errors && f.productName.touched" class="invalid">
              <div *ngIf="f.productName.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field col-sm-6">
          <label class="label">Unit</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" onkeypress="return /[a-z]/i.test(event.key)" type="text" placeholder="unit" formControlName="unit">
            <div *ngIf="f.unit.errors && f.unit.touched" class="invalid">
              <div *ngIf="f.unit.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Total QTY</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success"  type="number" placeholder="qty" formControlName="qty" min="0">
            <div *ngIf="f.qty.errors && f.qty.touched" class="invalid">
              <div *ngIf="f.qty.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Rate</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" appTwoDigitDecimaNumber placeholder="rate" formControlName="rate">
            <div *ngIf="f.rate.errors && f.rate.touched" class="invalid">
              <div *ngIf="f.rate.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Tax</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" appTwoDigitDecimaNumber placeholder="tax" formControlName="tax"
            (input)="setDynamicValidator()">
            <div *ngIf="f.tax.errors && f.tax.touched" class="invalid">
              <div *ngIf="f.tax.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

         <!-- /* (enqId,userId,invoiceTo,shipTo,placeOfSupply,currency,qty,productName,unit,rate,tax,dueDate,subTotal,authorization [in header])  */ -->
        <div class="field col-sm-6">
          <label class="label">Amount</label>
          <div class="control has-icons-left has-icons-right">
            <input readonly class="input is-success" appTwoDigitDecimaNumber  type="text" placeholder="amount" formControlName="amount"
            [value]="(1 + (f.tax.value / 100)) * (f.qty.value * f.rate.value) | number">
            <div *ngIf="f.amount.errors && f.amount.touched" class="invalid">
              <div *ngIf="f.amount.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field date_picker col-sm-6">
          <label class="label">Due Date</label>
          <div class="control has-icons-left has-icons-right">
            <!-- <input class="input is-success" type="date" placeholder="dueDate" formControlName="dueDate"> -->
            <input class="input is-success" placeholder="Due date" formControlName="dueDate" [min]="minDate" [matDatepicker]="dp3"
            disabled>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            <div *ngIf="f.dueDate.errors && f.dueDate.touched" class="invalid">
              <div *ngIf="f.dueDate.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field col-sm-6">
          <label class="label">Sub total</label>
          <div class="control has-icons-left has-icons-right">
            <input readonly class="input is-success" appTwoDigitDecimaNumber type="text" placeholder="subTotal"
              formControlName="subTotal"
              [value]="(f.qty.value * f.rate.value) | number">
            <div *ngIf="f.subTotal.errors && f.subTotal.touched" class="invalid">
              <div *ngIf="f.subTotal.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>

        <div class="field is-grouped col-sm-12">
          <div class="control">
            <button type="submit" (click)="submit(myForm.value)" class="button is-link">Generate</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
