<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <form [formGroup]="editPasswordForm" (ngSubmit)="submitPassword()">
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="sort_filter_wrap">
              <h3>Password</h3>
            </div>
          </div>
          <!-- <div class="col-md-6 col-xs-6">
            <div class="sort_filter_wrap edit_detail_wrap" *ngIf="!editingPassword">
              <h3>Edit</h3>
            </div>
          </div> -->
        </div>
      <div class="row input_form_wrap">
        <div class="col-md-6">
          <div class="form-group field">
            <label class="label">Old Password</label>
            <div class="control showpasswrap">
              <input [type]="oldPasswordType ? 'text' : 'password'" class="input" placeholder="Old Password" formControlName="oldPassword">
              <i class="fa" [ngClass]="{
                'fa-eye-slash': !oldPasswordType,
                'fa-eye': oldPasswordType
              }" (click)="toggleFieldTextType(1)" aria-hidden="true"></i>
            </div>
            <div *ngIf="f.oldPassword.errors && submittedPassword" class="invalid">
              <div *ngIf="f.oldPassword.errors.required">
                <p style="color: red;">Old password is required</p>
              </div>
              <!-- <div *ngIf="f.name.errors.pattern">
                <p style="color: red;">Only albhabets is allowed</p>
              </div>
              <div *ngIf="f.name.errors.maxlength">
                <p style="color: red;">Limit is of {{f.name.errors.maxlength.requiredLength}} characters</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row input_form_wrap">
        <div class="col-md-6">
          <div class="form-group field">
            <label class="label">New Password</label>
            <div class="control showpasswrap">
              <input [type]="newPasswordType ? 'text' : 'password'" class="input" placeholder="New Password" formControlName="newPassword">
              <i class="fa" [ngClass]="{
                'fa-eye-slash': !newPasswordType,
                'fa-eye': newPasswordType
              }" (click)="toggleFieldTextType(2)" aria-hidden="true"></i>
            </div>
            <div *ngIf="f.newPassword.errors && submittedPassword" class="invalid">
              <div *ngIf="f.newPassword.errors.required">
                <p style="color: red;">New password is required</p>
              </div>
              <div *ngIf="f.newPassword?.errors.mustMatch">
                <p style="color: red;">Passwords do not match</p>
              </div>
              <div *ngIf="f.newPassword.errors.minlength">
                <p style="color: red;">Limit is of {{f.newPassword.errors.minlength.requiredLength}} characters</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row input_form_wrap">
        <div class="col-md-6">
          <div class="form-group field">
            <label class="label">Confirm Password</label>
            <div class="control showpasswrap">
              <input [type]="confirmPassowrdType ? 'text' : 'password'" class="input" placeholder="Confirm Password" formControlName="confirmNewPassword">
              <i class="fa" [ngClass]="{
                'fa-eye-slash': !confirmPassowrdType,
                'fa-eye': confirmPassowrdType
              }" (click)="toggleFieldTextType(3)" aria-hidden="true"></i>
            </div>
            <div *ngIf="f.confirmNewPassword.errors && submittedPassword" class="invalid">
              <div *ngIf="f.confirmNewPassword.errors.required">
                <p style="color: red;">Confirm password is required</p>
              </div>
              <div *ngIf="f.confirmNewPassword?.errors.mustMatch">
                <p style="color: red;">Passwords do not match</p>
              </div>
              <div *ngIf="f.confirmNewPassword.errors.minlength">
                <p style="color: red;">Limit is of {{f.confirmNewPassword.errors.minlength.requiredLength}} characters</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 field  is-grouped">
          <ng-container *ngIf="adminId === '1'">
            <div class="control">
              <button type="submit" class="button is-link">Submit</button>
            </div>
          </ng-container>
          <!-- <div class="control">
            <button class="button is-link is-light" (click)="editingPassword=false">Cancel</button>
          </div> -->
        </div>
      </div>
    </form>
  </div>
</div>
