.field:not(:last-child) {
    margin-bottom: .75rem;
    display: inline-block;
    width: 100%;
}
.file.is-boxed label.file-label {
    width: calc(25% - 10px);
    max-height: 110px;
    min-height: 110px;
    margin: 0 5px;
}
.file.is-boxed  figure:not(:first-child) {
    width: calc(25% - 10px);
    max-height: 110px;
    min-height: 110px;
    margin: 0 5px;
    background-color: #eee;
    border-color: #dbdbdb;
    border-radius: 5px;
    overflow: hidden;
}
.file.is-boxed  figure:not(:first-child) img{
    width:100%;
    height:100%;
    object-fit: cover;
} 
.file.is-boxed .file-cta {
    flex-direction: column;
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}