<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="sort_filter_wrap">
          <div class="heading_divwr">
            <div class="enquary_heading_title">
              <h3>Generated Enquiries</h3>
            </div>
            <div class="btnflex">
              <button type="button" (click)="download()" class="whitebtns_style"><i class="fa fa-download"
                  aria-hidden="true"></i> Download</button>
              <a class="whitebtns_style" [routerLink]="[ '/enquiries/emailEnq' ]"
                [queryParams]="{type:'enquiries/generateEnqList'}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                Generate New Enquiry
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="main-wrapper">
            <div class="user_detail">
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let item of listHeaders; let i=index">
                        <div class="sortorderwr">
                          <abbr title="{{item}}">{{item}}</abbr>
                          <div
                            *ngIf="item==='Enquiry ID'|| item==='Title'||item==='Total Artisans'||item==='Responded by'||item==='Created-on'||item==='Total Artisans'  ">
                            <span (click)="sort('asc',item)" class="sortorder"> <img src="assets/images/sort_a.png"  alt=""></span>
                            <span (click)="sort('desc',item)" class="sortorder"><img src="assets/images/sort_z.png"  alt=""></span>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- | paginate: { itemsPerPage: 10, currentPage: page,totalItems:total } -->
                    <tr tabindex="0" [ngClass]="{'back': item.id==focusID}" (click)="focusID=0"
                    *ngFor="let item of listArr | paginate: { itemsPerPage: 10, currentPage: page,totalItems:total }; let i=index">
                      <td width="120">
                        <figure class="tdimg">
                          <img (error)="def($event, item.id)" src="{{item.attachment}}">
                        </figure>
                      </td>
                      <td (dblclick)="enqEdit111.click()">
                        {{item.uniqueId}}
                      </td>
                      <td id="k{{item.id}}" (dblclick)="enqEdit111.click()">{{item?.title||'---'}}</td>
                      <td (dblclick)="enqEdit111.click()">{{item.sku ? item.sku : '-'}}</td>
                      <td (dblclick)="enqEdit111.click()">{{item.artisanName ? item.artisanName : '-'}}</td>
                      <td (dblclick)="enqEdit111.click()">{{item.typeOfEnquiry ? (item.typeOfEnquiry | titlecase) : '-'}}</td>
                      <td class="pointer tdlink" [routerLink]="[ '/generated-enquiry/listArtisan' ]"
                        [queryParams]="{type:'0',id:item?.id, page: page}">{{item?.totalArtisan}}</td>
                      <td class="pointer tdlink" [routerLink]="[ '/generated-enquiry/listArtisan' ]"
                        [queryParams]="{type:'1',id:item?.id, page: page}"><div class="inqirynotfication">
                          <span class="notifyscircle" *ngIf="item.chatCount">
                            <!-- <i class="fa fa-circle" style="font-size:24px;color:red"></i> -->
                          </span>
                           {{item?.totalResponce }}</div>

                    </td>
                      <td (dblclick)="enqEdit111.click()">{{item?.created_at | date}}</td>
                      <!-- <td class="table_buttons tablebtnt">
                        <button [routerLink]="[ '/enquiries/purchaseOrder' ]" [queryParams]="{id:item?.id}">
                          Purchase Order</button>
                        <button [routerLink]="[ '/enquiries/estimateOrder' ]" [queryParams]="{id:item?.id}">
                          Estimate Order</button>
                      </td> -->
                      <td><a class="pointer"> <i #enqEdit111 class="fa fa-pencil" (click)="edit(item.id)" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <a class="pointer"> <i style="color: red;" class="fa fa-trash" (click)="delete(item.id)"
                            aria-hidden="true"></i></a>
                      </td>
                    </tr>
                    <!-- <pagination-controls (pageChange)="changePage($event)"></pagination-controls> -->
                  </tbody>
                </table>
                <notfound *ngIf="listArr?.length==0"></notfound>
              </div>
              <pagination-controls class="custompaginations" (pageChange)="changePage($event)"></pagination-controls>
              <!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
