<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <div class="sort_filter_wrap">
      <div class="heading_divwr">
        <div class="screen_heading">
          <h3 class="hwswitch">CMS - Team
            <!-- <div class="checkboxdiv">
              <input id="check1" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success"
               >
              <label for="check1"></label>
            </div> -->
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <form [formGroup]="uspGrp" (ngSubmit)="submit()">
          <div class="input_form_wrap">
            <div class="file is-boxed">
              <label class="file-label">
                <input class="file-input" accept="image/*" (change)="fileUpload($event, 'image')" type="file" name="resume">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Image
                  </span>
                </span>
              </label>
              <figure *ngIf="previewObj['image']" class="image is-128x128">
                <img src="{{previewObj['image']}}">
              </figure>
            </div>
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" placeholder="name" formControlName="name">
              </div>
              <div *ngIf="f.name.errors && f.name.touched" class="invalid">
                <div *ngIf="f.name.errors.required">
                  <p style="color: red;">name is required</p>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">Designation</label>
              <div class="control">
                <input class="input" type="text" placeholder="Designation" formControlName="designation">
              </div>
              <div *ngIf="f.designation.errors && f.designation.touched" class="invalid">
                <div *ngIf="f.designation.errors.required">
                  <p style="color: red;">Required</p>
                </div>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-link">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <cms-sidebar [activeState]="'team'"></cms-sidebar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="customlabel">Team List</label>
      </div>
      <div class="col-md-12">
        <div class="table-responsive ">
          <table class="table">
            <tbody>
              <tr *ngFor="let item of list; let i=index">
                <td width="120">
                  <figure class="tdimg">
                    <img [src]="item?.image" onError="this.src='assets/images/def.png';">
                  </figure>
                </td>
                <td>{{item?.name}}</td>
                <td>{{item?.designation}}</td>
                <td>{{item?.created_at|date}}</td>
                <td class="text-right">
                  <!-- <a class="pointer"> <i class="fa fa-pencil" aria-hidden="true"></i></a> -->
                  &nbsp;
                  <a class="pointer"> <i (click)="delete(item)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i></a>
                  <div class="checkboxdiv">
                    <input id="{{'switchRoundedSuccess'+item?.id}}" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success"
                    [checked]="item?.isActive" (change)="changeStatus(i,$event.target.checked, item.id)">
                    <label for="{{'switchRoundedSuccess'+item?.id}}"></label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
