<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <form [formGroup]="myForm">
      <h3 class="title">Logistic details</h3>
      <div class="row input_form_wrap">
        <div class="field col-sm-6">
          <label class="label">Logistic Carrier</label>
          <div class="control">
            <input class="input" type="text" placeholder="Logistic Carrier" formControlName="supplier">
            <div *ngIf="f.supplier.errors && f.supplier.touched" class="invalid">
              <div *ngIf="f.supplier.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Tracking Number</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input " type="text" placeholder="Tracking Number" value="" formControlName="shipTo">
            <div *ngIf="f.shipTo.errors && f.shipTo.touched" class="invalid">
              <div *ngIf="f.shipTo.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Number of boxes </label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success" numberonly type="text" placeholder="Number of boxes" formControlName="totalQTY">
            <div *ngIf="f.totalQTY.errors && f.totalQTY.touched" class="invalid">
              <div *ngIf="f.totalQTY.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
        <div class="field col-sm-6">
          <label class="label">Payment Mode</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success"  type="text" placeholder="Payment Mode"
              formControlName="productName">
            <div *ngIf="f.productName.errors && f.productName.touched" class="invalid">
              <div *ngIf="f.productName.errors.required">
                <p style="color: red;">Required</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>