<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">

    <div class="sort_filter_wrap">
      <div class="heading_divwr">
        <h3>Awards</h3>
        <div class="btnflex">
          <div class="input_wrap_search input_wrap_search_responsive">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control" placeholder="Search" [(ngModel)]="searchKeyWord" (keyup)="search()">
          </div>

        </div>
      </div>
    </div>

    <div class="animated fadeIn">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="main-wrapper">
            <div class="user_detail">
              <div class="table-responsive ">
                <table class="table">
                  <thead>
                    <tr>
                      <th *ngFor="let item of listHeaders; let i=index">
                        <div class="sortorderwr">
                          <abbr title="{{item}}">{{item}}</abbr>
                          <div *ngIf="item==='Artisans Name'|| item==='Total Awards' ">
                            <span (click)="sort('asc',item)" class="sortorder"><img src="assets/images/sort_a.png"
                                alt=""></span>
                            <span (click)="sort('desc',item)" class="sortorder"><img src="assets/images/sort_z.png"
                                alt=""></span>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of listArr | paginate: { itemsPerPage: 10, currentPage: page,totalItems:total }; let i=index">
                      <td width="120">
                        <figure class="tdimg">
                          <img (error)="def($event, item.id)" src="{{item?.image}}">
                        </figure>
                      </td>
                      <td>
                        {{item?.name | titlecase}}
                      </td>
                      <td>{{item?.title}}</td>
                      <td>{{item?.totalAwards}}</td>
                      <td>
                        <a class="pointer"> <i class="fa fa-eye" (click)="edit(item)" aria-hidden="true"></i>
                        </a>
                        &nbsp;
                        <!-- <a class="pointer"> <i style="color: red;" class="fa fa-trash" (click)="delete(item.userId)"
                            aria-hidden="true"></i></a> -->

                        <input id="{{'switchRoundedSuccess'+i}}" type="checkbox"
                          (change)="changeStatus(i,$event.target.checked, item.id)" name="switchRoundedSuccess"
                          class="switch is-rounded is-success" [checked]="item.isActive">
                        <label for="{{'switchRoundedSuccess'+i}}"></label>

                      </td>
                      <td>
                        <div class="field">
                          <input id="{{'publish'+i}}" type="checkbox"
                            (change)="publishOnweb(i,$event.target.checked, item.id)" name="publish"
                            class="switch is-rounded is-success" [checked]="item.isPublished">
                          <label for="{{'publish'+i}}"></label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <pagination-controls class="custompaginations" (pageChange)="changePage($event)"></pagination-controls>
              <notfound *ngIf="listArr?.length==0"></notfound>
              <!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"></div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>