<app-sidebar></app-sidebar>
<div id="right-panel" class="right-panel">
  <app-header></app-header>
  <div class="content">
    <div class="sort_filter_wrap">
      <div class="heading_divwr">
        <div class="screen_heading">
          <h3 class="hwswitch">CMS - FAQs
            <div class="checkboxdiv">
              <input id="check1" type="checkbox" name="switchRoundedSuccess" class="switch is-rounded is-success">
              <label for="check1"></label>
            </div>
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <form [formGroup]="faqsGrp" (ngSubmit)="submit()">
          <div class="input_form_wrap">
            <div class="field">
              <label class="label">Add questions</label>
              <div class="control">
                <input class="input" type="text" placeholder="Add questions" formControlName="questions">
              </div>
              <div *ngIf="f.questions.errors && f.questions.touched" class="invalid">
                <div *ngIf="f.questions.errors.required">
                  <p style="color: red;">questions is required</p>
                </div>
               
              </div>
            </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea placeholder="Add description" formControlName="description" class="textarea form-control" placeholder=""
                  rows="10"></textarea>
              </div>
              <div *ngIf="f.description.errors && f.description.touched" class="invalid">
                <div *ngIf="f.description.errors.required">
                  <p style="color: red;">description is required</p>
                </div>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-link">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <cms-sidebar [activeState]="'faqs'"></cms-sidebar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label class="customlabel">FAQ's list</label>
      </div>
      <div class="col-md-12">
        <div class="table-responsive ">
          <table class="table">
            <tbody>
              <tr *ngFor="let item of list; let i=index">
                <td>Q.No{{i+1}}</td>
                <td>{{item?.title}}</td>
                <td > <p class="descriptionwidth">{{item?.description}}</p></td>
                <td>
                  <a (click)="edit(item)" class="pointer"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                  &nbsp;
                  <a (click)="delete(item)" class="pointer"> <i style="color: red;" class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
            <notfound *ngIf="list?.length==0"></notfound>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>