<div class="column sider_wrap_cms">
  <aside class="menu">
    <div class="menu-list">
      <!-- <a id="a1" (click)="active($event, 1, '/onboarding/type-of-store')"
        [ngClass]="{ 'is-active': activeObj['type-of-store'] == true }">Type of Store</a> -->
      <!-- <tr><td><a id="a2" (click)="active($event, 2)">Update My Clients</a></td></tr> -->
      <a id="a3" (click)="active($event, 3, '/onboarding/how-you-here')"
        [ngClass]="{ 'is-active': activeObj['howdid'] == true }">How did you hear about us</a>
      <!-- <a id="a4" (click)="active($event, 4, '/onboarding/kind-of-store')"
            [ngClass]="{ 'is-active': activeObj['faqs'] == true }">Kind of store</a> -->
      <a id="a5" (click)="active($event, 5, '/onboarding/important-for-customer')"
        [ngClass]="{ 'is-active': activeObj['Important'] == true }">Important for Customer</a>
    </div>
  </aside>
</div>
